.wrap {
    width: 355px;
    justify-content: center;
    margin-bottom: var(--header-height);
}

#loginText {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 3.8rem;
    text-align: center;
    margin-top: 0.9rem;
    margin-bottom: 4.0rem;
}

#article-auth {
    width: 39.2rem;
    /*height: 18.8rem;*/
    margin-top: 1rem;
}

.text-guide {
    width: fit-content;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.79rem;
    text-align: left;
    margin-top: 1.8rem;
    margin-bottom: 0.9rem;
}

.helper-text {
}

input {
    width: 33.3rem;
    height: 2.9rem;
    border-radius: 0.4rem;
    border-width: 0.1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: transparent;
}

input::placeholder {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6rem;
    text-align: left;
}

.button-purple {
    margin-top: 0.2rem;
}

.button-text {
    font-size: 1.4rem;
    text-align: center;
    margin-top: 1.2rem;
}

