.wrap {
    width: 355px;
    justify-content: start;
    margin-bottom: var(--header-height);
}

#loginText {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 3.8rem;
    text-align: center;
    margin-top: 16.1rem;
    margin-bottom: 9.4rem;
}

#article-auth {
    width: 39.2rem;
    /*height: 18.8rem;*/
    margin: 0;
}

.text-guide {
    width: fit-content;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.79rem;
    text-align: left;
    margin-top: 0.1rem;
    margin-bottom: 0.8rem;
}

.button-purple {
    margin-top: 2.3rem;
    margin-bottom: 1.2rem;
    border-radius: 4px;
    width: 35.5rem;
    height: 3.3rem;
}

.button-text {
    font-size: 1.4rem;
    text-align: center;
    margin: 0;
}
