 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     background-color: #F4F5F7;
 }

 html {
     font-size: 62.5%;
     height: 100%;
     margin: 0;
 }

 body {
     font-size: 1.6rem;
     height: 100%;
 }

 .container {
     height: 100vh;           /* 전체 높이를 100vh로 설정 */
     display: flex;           /* Flexbox 사용 */
     justify-content: center;  /* 수평 중앙 정렬 */
     align-items: center;      /* 수직 중앙 정렬 */
 }

 .wrap {
     display: flex;
     flex-direction: column;
     /*align-items: center;*/
 }

.helper-text {
    color: #FF0000;
    font-size: 1.2rem;
    margin-top: 0.8rem;
}

.button-purple {
    background: #ACA0EB;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    width: 355px;
    height: 33px;
}

