
.wrap {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
}

#loginText {
    font-size: 3.2rem;
    text-align: center;
    color: #000000;
}

.article-login {
    width: 392px;
    height: 198px;
}

.text-guide {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: left;
    margin-top: 16px;
}

.helper-text {
    text-align: left;
}

input {
    width: 355px;
    height: 33px;
    border-radius: 4px;
    border-width: 1px;
    margin-top: 8px;
}

input::placeholder {
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    padding-left: 10px;
}

.button-purple {
    margin-top: 2.3rem;
    margin-bottom: 1.2rem;
}

.button-text {
    font-size: 1.4rem;
    text-align: center;
}

